@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documet Preview</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .fullscreen {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
        }
    </style>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.WebDocumentViewer }
    )
</head>
<body>
    @Html.DevExpress().WebDocumentViewer(settings => {
    settings.Height = Unit.Empty;
        settings.ControlStyle.CssClass = "fullscreen";
        settings.Name = "WebDocumentViewer";
    }).Bind(new WebDocumentViewer_UserName.Reports.XtraReport1()).GetHtml()
</body>
</html>
